<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICheckStrings" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4877/ServiceHost.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICheckStrings" contract="ICheckStrings"
                name="BasicHttpBinding_ICheckStrings" />
        </client>
    </system.serviceModel>
</configuration>