body,
div,
h6,
table,
tr,
td,
input,
ul,
li,
button {
  margin: 0;
  padding: 0;
  letter-spacing: 0;
  word-spacing: 0;
  border-spacing: 0;
  border-collapse: collapse;
  cursor: default;
}
body div.outer-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 423px;
  height: 388px;
  border: 0;
  border-radius: 5px;
  background: #d6eaff;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjZDZlYWZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTklIiBzdG9wLWNvbG9yPSIjYzBkOGYwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMjYlIiBzdG9wLWNvbG9yPSIjYzBkOGYwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNDMlIiBzdG9wLWNvbG9yPSIjYWNjY2ViIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2QwZTVmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(-45deg, #d6eaff 1%, #c0d8f0 19%, #c0d8f0 26%, #accceb 43%, #d0e5fa 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(1%, #d6eaff), color-stop(19%, #c0d8f0), color-stop(26%, #c0d8f0), color-stop(43%, #accceb), color-stop(100%, #d0e5fa));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #d6eaff 1%, #c0d8f0 19%, #c0d8f0 26%, #accceb 43%, #d0e5fa 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #d6eaff 1%, #c0d8f0 19%, #c0d8f0 26%, #accceb 43%, #d0e5fa 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #d6eaff 1%, #c0d8f0 19%, #c0d8f0 26%, #accceb 43%, #d0e5fa 100%);
  /* IE10+ */
  background: linear-gradient(135deg, #d6eaff 1%, #c0d8f0 19%, #c0d8f0 26%, #accceb 43%, #d0e5fa 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6eaff', endColorstr='#d0e5fa', GradientType=1);
  /* IE6-8 fallback on horizontal gradient */
}
body div.outer-wrapper header {
  height: 25px;
  padding-top: 6px;
}
body div.outer-wrapper header img {
  margin-left: 10px;
}
body div.outer-wrapper header h6 {
  display: inline-block;
  font-weight: normal;
  font-size: 15px;
  vertical-align: text-top;
}
body div.outer-wrapper div.inner-wrapper {
  border: 1px solid #8E9CAD;
  height: 348px;
  width: 407px;
  margin-left: auto;
  margin-right: auto;
  background: #edf4fc;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkZjRmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI3JSIgc3RvcC1jb2xvcj0iI2Q5ZTRmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI3JSIgc3RvcC1jb2xvcj0iI2Q5ZTRmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top, #edf4fc 0%, #d9e4f1 27%, #d9e4f1 27%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #edf4fc), color-stop(27%, #d9e4f1), color-stop(27%, #d9e4f1));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #edf4fc 0%, #d9e4f1 27%, #d9e4f1 27%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #edf4fc 0%, #d9e4f1 27%, #d9e4f1 27%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #edf4fc 0%, #d9e4f1 27%, #d9e4f1 27%);
  /* IE10+ */
  background: linear-gradient(to bottom, #edf4fc 0%, #d9e4f1 27%, #d9e4f1 27%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#edf4fc', endColorstr='#d9e4f1', GradientType=0);
  /* IE6-8 */
}
body div.outer-wrapper div.inner-wrapper div.tool-strip {
  height: 18px;
  background: #F5F6F7;
  border-bottom: 2px solid #E8E9EA;
}
body div.outer-wrapper div.inner-wrapper div.tool-strip ul {
  list-style: none;
}
body div.outer-wrapper div.inner-wrapper div.tool-strip ul li {
  font-size: 14px;
  display: inline-block;
  padding-left: 4px;
  padding-right: 4px;
  text-align: center;
}
body div.outer-wrapper div.inner-wrapper div.tool-strip ul li span {
  text-decoration: underline;
}
body div.outer-wrapper div.inner-wrapper div.tool-strip ul li:hover {
  background: #D5E7F8;
  border: 2px solid #7AB0E8;
}
body div.outer-wrapper div.inner-wrapper div.tool-strip .clearfix:before,
body div.outer-wrapper div.inner-wrapper div.tool-strip .clearfix:after {
  content: "";
  display: table;
}
body div.outer-wrapper div.inner-wrapper div.tool-strip .clearfix:after {
  clear: both;
}
body div.outer-wrapper div.inner-wrapper div.tool-strip .clearfix {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}
body div.outer-wrapper div.inner-wrapper div.display {
  margin-top: 10px;
  width: 383px;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  height: 47px;
  border: 1px solid #8E9CAD;
  border-radius: 5px;
  font-family: Consolas, 'Lucida Console', 'DejaVu Sans Mono', monospace;
  background: #e5eefb;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1ZWVmYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #e5eefb 0%, #ffffff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5eefb), color-stop(100%, #ffffff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e5eefb 0%, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e5eefb 0%, #ffffff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e5eefb 0%, #ffffff 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #e5eefb 0%, #ffffff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5eefb', endColorstr='#ffffff', GradientType=0);
  /* IE6-8 */
}
body div.outer-wrapper div.inner-wrapper div.byte-display {
  font-family: Consolas, 'Lucida Console', 'DejaVu Sans Mono', monospace;
  width: 383px;
  height: 57px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  border: 1px solid #8E9CAD;
  border-radius: 5px;
  font-size: 12px;
}
body div.outer-wrapper div.inner-wrapper div.byte-display table {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
body div.outer-wrapper div.inner-wrapper div.byte-display table td {
  text-align: center;
}
body div.outer-wrapper div.inner-wrapper div.byte-display table td.multi-column-td {
  text-align: left;
  padding-left: 11px;
}
body div.outer-wrapper div.inner-wrapper div.byte-display table td.byte-display-right-align {
  text-align: right;
  padding-right: 11px;
}
body div.outer-wrapper div.inner-wrapper div.controls {
  width: 383px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}
body div.outer-wrapper div.inner-wrapper div.controls div.options {
  float: left;
}
body div.outer-wrapper div.inner-wrapper div.controls div.options ul {
  padding: 5px;
  width: 71px;
  list-style: none;
  border: 1px solid #8E9CAD;
  border-radius: 5px;
}
body div.outer-wrapper div.inner-wrapper div.controls div.options ul:last-of-type {
  margin-top: 5px;
}
body div.outer-wrapper div.inner-wrapper div.controls div.buttons {
  float: left;
  margin-left: 5px;
  width: 295px;
  height: 187px;
}
body div.outer-wrapper div.inner-wrapper div.controls div.buttons div {
  margin-bottom: 6px;
  display: inline-block;
}
body div.outer-wrapper div.inner-wrapper div.controls div.buttons div button {
  color: #1E395B;
  margin-left: 1px;
  text-align: center;
  width: 32px;
  height: 26px;
  border: 1px solid #8e9cad;
  border-radius: 3px;
  font-size: 12px;
  background: #f0f6fb;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwZjZmYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iI2UyZWFmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2Q1ZTBlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkOWU0ZjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #f0f6fb 0%, #e2eaf3 49%, #d5e0ed 50%, #d9e4f1 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0f6fb), color-stop(49%, #e2eaf3), color-stop(50%, #d5e0ed), color-stop(100%, #d9e4f1));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f0f6fb 0%, #e2eaf3 49%, #d5e0ed 50%, #d9e4f1 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f0f6fb 0%, #e2eaf3 49%, #d5e0ed 50%, #d9e4f1 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f0f6fb 0%, #e2eaf3 49%, #d5e0ed 50%, #d9e4f1 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f0f6fb 0%, #e2eaf3 49%, #d5e0ed 50%, #d9e4f1 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f6fb', endColorstr='#d9e4f1', GradientType=0);
  /* IE6-8 */
}
body div.outer-wrapper div.inner-wrapper div.controls div.buttons div button.loud {
  background: #f7fbff;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZmJmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iI2VkZjNmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2U3ZWRmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZmY3ZmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #f7fbff 0%, #edf3f8 49%, #e7edf5 50%, #eff7fc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7fbff), color-stop(49%, #edf3f8), color-stop(50%, #e7edf5), color-stop(100%, #eff7fc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f7fbff 0%, #edf3f8 49%, #e7edf5 50%, #eff7fc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f7fbff 0%, #edf3f8 49%, #e7edf5 50%, #eff7fc 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f7fbff 0%, #edf3f8 49%, #e7edf5 50%, #eff7fc 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f7fbff 0%, #edf3f8 49%, #e7edf5 50%, #eff7fc 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7fbff', endColorstr='#eff7fc', GradientType=0);
  /* IE6-8 */
}
body div.outer-wrapper div.inner-wrapper div.controls div.buttons div button.muted {
  background: none;
}
body div.outer-wrapper div.inner-wrapper div.controls div.buttons div button.disabled {
  background: none;
}
body div.outer-wrapper div.inner-wrapper div.controls div.buttons div button#width-adjustment {
  width: 68px;
}
body div.outer-wrapper div.inner-wrapper div.controls div.buttons div button#arrow {
  font-size: 17px;
  font-weight: 900;
}
body div.outer-wrapper div.inner-wrapper div.controls div.buttons div button:hover {
  border: 1px solid #F0D315;
  background: #fef5ec;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZjVlYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iI2ZjZTRjOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZjZDM3YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZGY1YWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #fef5ec 0%, #fce4c9 49%, #fcd37b 50%, #fdf5af 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fef5ec), color-stop(49%, #fce4c9), color-stop(50%, #fcd37b), color-stop(100%, #fdf5af));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fef5ec 0%, #fce4c9 49%, #fcd37b 50%, #fdf5af 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fef5ec 0%, #fce4c9 49%, #fcd37b 50%, #fdf5af 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fef5ec 0%, #fce4c9 49%, #fcd37b 50%, #fdf5af 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #fef5ec 0%, #fce4c9 49%, #fcd37b 50%, #fdf5af 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fef5ec', endColorstr='#fdf5af', GradientType=0);
  /* IE6-8 */
}
body div.outer-wrapper div.inner-wrapper div.controls div.buttons div button.disabled:hover {
  background: none;
  border: 1px solid #8e9cad;
}
body div.outer-wrapper div.inner-wrapper div.controls div.buttons div:last-of-type {
  margin-bottom: 0;
}
body div.outer-wrapper div.inner-wrapper div.controls div.buttons div.equals {
  position: absolute;
}
body div.outer-wrapper div.inner-wrapper div.controls div.buttons div.equals button {
  height: 58px;
  font-size: 26px;
}
/*# sourceMappingURL=04.CalculatorStylesheet.css.map */