* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #595959;
}

table {
    font-family: Tahoma;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    font-weight: bold;
}

    table a {
        text-decoration: none;
        color: #E2C789;
    }

    table thead th {
        color: #9DA3A5;
        text-align: left;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    table tbody td {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    table .content-header {
        color: #D7E1ED;
        vertical-align: top;
        font-style: italic;
    }

    table .online-image {
        width: 5%;
        height: 7%;
        padding-right: 5px;
    }

    table .support {
        color: red;
    }

    table .indescript {
        color: #9DA3A5;
    }

    table .status {
        color: #DC6A25;
    }
