<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header style="border: solid medium black; padding: 20px">
        <h2>Header</h2>
    </header>
    <div id="body">
        @RenderBody()
    </div>
    <footer style="border: solid medium black; padding: 20px">
        <h3>Footer</h3>
    </footer>
</body>
</html>
